@model KF31_WebApp.Models.Member

@{
    ViewData["Title"] = "アカウント";
}

<div class="account account_update">
    <div class="account_title_1">
        <h5>会員情報詳細</h5>
        <p>
            こちらの内容はKF31 図書館で共通です。編集を行った場合はカード・アカウント双方のアカウントへ反映されます。
        </p>
        <div></div>
    </div>

    <div class="account_title_2">
        <h5>
            会員情報詳細
        </h5>
        <a class="back_top_btn" asp-area="" asp-controller="Home" asp-action="Index">トップへ戻る</a>
    </div>

    <div class="account_body update_form">
        <form asp-action="AccountUpdate" method="post">

        <div>
            <label>会員ID</label>
            <p>@Model.userID</p>
        </div>
        <div>
            <label>氏名</label>
                <input asp-for="DisplayName" class="form-control" value=@Model.DisplayName />
        </div>
        <div>
        <label> 生年月日(※生年月日は一度登録いただくと変更できません)</label>
            <p>@Model.Birthday.ToString("yyyy/MM/dd")</p>
        </div>

        <div>
            <label>メールアドレス</label>
                <input asp-for="mail" class="form-control" value=@Model.mail />
                <span asp-validation-for="mail" class="text-danger"></span>

        </div>
        <div>
            <label>携帯番号</label>
                <input asp-for="Tell" class="form-control" value=@Model.Tell />
                <span asp-validation-for="Tell" class="text-danger"></span>

        </div>
        <div>
            <label>住所</label>
                <input asp-for="address" class="form-control" value=@Model.address />
        </div>
        <div class="update_btn">
                <input type="submit" value="変更する" class="submit_btn update_btn1" />
        </div>
        </form>
       
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}