@model KF31_WebApp.Models.PassWordViewModel

@{
    ViewData["Title"] = "PassWord";
}


<div class="password">
    <div class="update_tite">
        <h6>パスワード変更</h6>
    </div>
    <p>
        現在パスボートと新しいパスワードを入力してください
    </p>
    <div class="pass_update_form">
        <form asp-action="PasswordUpdate">
           <div class="password_update_form">
               <div>

            <div class="form-group">
                <label asp-for="old_password" class="control-label">現在パスワード</label>
                <input asp-for="old_password" class="form-control" type="password" />
                <span asp-validation-for="old_password" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="new_Password" class="control-label">新しいパスワード</label>
                <input asp-for="new_Password" class="form-control" type="password" />
                <span asp-validation-for="new_Password" class="text-danger"></span>

            </div>
               </div>

           </div>
            <div class="border_div"></div>
            <div class="button_div">
                <input type="submit" value="変更する" class="btn btn-primary" />
                <a href="javascript:history.back()" class="btn btn-primary">トップへ戻る</a>

            </div>
        </form>
    </div>
    <p>画面右上のログインボタンからログインするとトップ画面に戻ります。</p>
    <p>
        直前に見ていた検索結果は「表示履歴」をご参照ください（ブラウザを閉じると失われます）
    </p>
    <p>
        セキュリティ確保のため利用状況確認や資料の予約、予約カートの参照を最後に行ってから
    </p>
    <p>
        30分経過すると、自動的にセッションが切れます。あらかじめご了承ください。
    </p>

    <div class="border_div"></div>
    <p class="login_title_last">KF31_図書館</p>
    <div class="copyright">
        <p>
            Copyright c 2024- OSAKA KF31_LliM5
        </p>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}