
@{
    ViewData["Title"] = "PassWord";
}


<div class="success">
    <div class="success_tite">
        <h6>会員情報変更</h6>
    </div>
     <p class="success_mes">情報変更完了しました！</p>
   
    <div class="border_div success_bor"></div>
    <p class="success_title_last">KF31_図書館</p>
    <a class="back_top_btn custom-link" asp-area="" asp-controller="Home" asp-action="Index">トップへ戻る</a>
    <div class="copyright">
        <p>
            Copyright c 2024- OSAKA KF31_LliM5
        </p>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}