@model KF31_WebApp.Models.Yoyaku

@{
    ViewData["Title"] = "予約";
}
<div class="yoyaku_detail">
    <div class="yoyaku_detail_title">
        <h6>本詳細情報</h6>
    </div>
    <div class="yoyaku_body">
        <div class="yoyaku_body_book">
            <div class="yoyaku_book_img">
                <img src="~/picture/B1.jpg" />
            </div>
            <div class="yoyaku_bor"></div>
          
        </div>



    </div>
    <div class="detail_footer">

        <a class="detail_footer_btn" asp-area="" asp-controller="Book" asp-action="BookList">トップへ戻る</a>
    </div>
</div>