@model KF31_WebApp.Models.YoyakuView

@{
    ViewData["Title"] = "予約";
}
<div class="yoyaku_detail">
    <div class="yoyaku_detail_title">
        <h6>本詳細情報</h6>
    </div>
    <div class="yoyaku_body">
        <div class="yoyaku_body_book">
            <div class="yoyaku_book_img">
                <img src="~/picture/@(Model.Book.Book_Image + ".jpeg")" />
            </div>
            <div class="yoyaku_bor"></div>
            <div class="yoyaku_news">
                    <div class="userID">
                        <label>会員ID</label>
                        <p>@Model.userID</p>
                    </div>
                    <div class="title">
                        <label>本タイトル</label>
                        <p>@Model.Book.Book_title</p>
                    </div>
                    <div class="libraty">
                        <label>図書館</label>
                        <p>@Model.LibratyID</p>
                    </div>
                    <div class="returntime">
                        <label>返却日</label>
                        <p>@Model.Return_time.ToString("yyyy/MM/dd")</p>
                    </div>
                    <div>
                    <a class="update_yoyaku" href="javascript:history.back();">編集</a>
                    <a class="confirm_btn" asp-action="YoyakuAdd" asp-controller="Yoyaku">確認</a>
                    
                    </div>
            </div>
        </div>



    </div>
    <div class="detail_footer">

        <a class="detail_footer_btn" asp-area="" asp-controller="Book" asp-action="BookList">トップへ戻る</a>
    </div>
</div>