@model KF31_WebApp.Models.Yoyaku

@{
    ViewData["Title"] = "予約";
}
<div class="yoyaku_add">
    <div class="yoyaku_add_title">
        <h6>本詳細情報</h6>
    </div>
    <div class="yoyaku_add_body">
        <div class="yoyaku_body_barcode">
            <p>予約バーコード</p>
            <p>@ViewContext.HttpContext.Session.GetString("YoyakuID")</p>
            @if (ViewContext.HttpContext.Session.GetString("BarcodeImage") != null)
            {
                <img src="@ViewContext.HttpContext.Session.GetString("BarcodeImage")" alt="予約バーコード" />
            }
        </div>
        <div class="yoyaku_body_news">
            <p>注文完了しました！</p>
            <p>2時間以内に選択した図書館に来てください。</p>
            <p>図書館での予約受け取りの際には、予約バーコードをスタッフに伝えてください。</p>
        </div>
    </div>
    <div class="detail_footer">
        <a class="detail_footer_btn" asp-area="" asp-controller="Book" asp-action="BookList">トップへ戻る</a>
    </div>
</div>