html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body {
    margin-bottom: 60px;
    background: #ebeae8;
    height: 3000px;
}
.login_button{
     margin-left:605px;
     
}

nav.navbar {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 245px;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden; 
    position: relative;
}
.nav-background{
    width:1100px;
}

.container-fluid{
    padding-left:0;
    padding-right:0;
}
ul.menu_headerflat {
    border-top: 5px solid #c7816f;
    border-bottom: 1px solid #F3F3F3;
    background: #F1EFE3 none;
    height: 40px;
    width: auto;
    margin: 0px;
    padding: 0px;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
ul.menu_headerflat li 
{
        background: #F1EFE3 none repeat-x scroll left bottom;
        border-color: transparent #cccccc #DCDBD6 #f2f3ee;
        border-style: solid;
        border-width: 0px 1px 1px;
        height: 100%;
        padding: 0px;
        float: none;
        display: table-cell;
 }
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    position: relative;
    background: #fcfcfc;
}

/*Book*/
div .book {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    position: relative;
    background: #fcfcfc;
}
.book_search_background {
/*    margin : 30px auto;
    width:800px;
    max-width:800px;*/
}
.book_search {
    width: 500px;
    height: 55px;
    margin:10px auto;
    border-radius: 5px;
    background: #db9cc7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book_search a{
    margin-left:330px;
}
.book_list {
    margin: 50px 150px 0 150px;
    max-width:700px;
    font-size: 15px;
    border: 0.5px solid #9c9a9c;
    background: #fcfcfc;
}
.search_form{
    margin:auto;
}
.search_button {
    border-radius: 10px;
    background: #d663b1;
    color: aliceblue;
    border: none;
    width: 50px;
}
.search_key {
    border-radius: 10px;
    border: none;
    width:300px;
}


/*footer*/
footer {
    background:#db9cc7;
    max-height:120px;
}
footer .container {
    background: #db9cc7;
}


/*ログイン*/

.login {
    max-width: 800px;
    height:470px;
    margin: auto;
    background: #fcfcfc;
    border: 1px solid #b3b1b2;
    margin-bottom:-16px;
}
.login_tite {
    max-width: 700px;
    height: 50px;
    margin: 10px auto;
    background: #f6f6f6 url(/webopac_i_ja/image/default/com/bg_title01.png) left bottom repeat-x;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.login_tite h6 {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    margin-top: 15px;
    margin-left:25px;
    font-size:20px;
}
.login p{
    font-size:12.8px;
    margin-left:50px;
}
.login_form{
    max-width:400px;
    margin:20px 0 0 100px;
    display:flex;
    flex-direction:column;
}
.form-group{
    display:flex;
    flex-direction:row;
}
.form-group label{
    width:150px;
}
.form-group input{
    max-width:150px;
    height:20px;
    margin-right:0px;
}
.border_div{
    width:600px;
    height:1px;
    margin:30px auto;
    border:1px solid #cccc;
}
.button_div{
    margin-left:200px;
    margin-top:-5px;
}
.login_form .btn {
    width: 80px;
    height: 30px;
    background: #d6ced2;
    border: 1px solid #d6ced2;
    padding-top:2px;
}
.copyright {
    height: 30px;
    margin-top:53px;
    background: #51ab3f;
    border : 0.2px solid #cccc;
    padding-top:2px;
}
.login p{
    font-size:12.8px;
    margin-left:50px;
    margin-bottom:-2px;
}
