html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body {
    margin-bottom: 60px;
    background: #f4f4f4;
    height: 3000px;
    overflow: visible;
}

.login_button {
    /*     margin-left:605px;
     */
}

.custom-item {
    margin-left: 548px;
    width: 120px;
    height: 40px;
    border-style: none;
    padding: 10px;
}

    .custom-item a {
        padding-top: 5px;
        padding-left: 10px;
    }

    .custom-item .custom-menu {
        display: none;
        list-style: none;
        padding: 0;
        background-color: #f8f9fa;
        position: absolute;
        z-index: 10;
    }

.login_btn_li {
    margin-left: 568px;
    width: 100px;
}

.custom-item:hover .custom-menu {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}


.custom-menu .custom-sub-item {
    width: 119px;
    height: 40px;
}


.custom-link {
    text-decoration: none;
    color: #333;
    display: block;
}

.custom-menu {
    transition: all 0.3s ease-in-out;
}

    .navbar-nav li:hover, .custom-item:hover, .custom-menu li:hover {
        color: #007bff;
        background: #fcfcfc;
    }

.header-image {
    width: 800px;
    margin-left: 150px;
}

nav.navbar {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
}

.nav-background {
    width: 1100px;
}

.dropdowm {
    display: inline-block;
    position: relative;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

ul.menu_headerflat {
    border-top: 5px solid #c7816f;
    border-bottom: 1px solid #F3F3F3;
    background: #F1EFE3 none;
    height: 40px;
    width: auto;
    margin: 0px;
    padding: 0px;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

    ul.menu_headerflat li {
        background: #F1EFE3 none repeat-x scroll left bottom;
        border-color: transparent #cccccc #DCDBD6 #f2f3ee;
        border-style: solid;
        border-width: 0px 1px 1px;
        height: 100%;
        padding: 0px;
        float: none;
        display: table-cell;
        margin-top: 1px;
    }

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    position: relative;
    background: #fcfcfc;
}


/*footer*/
footer {
    background: #db9cc7;
    max-height: 120px;
}

    footer .container {
        background: #db9cc7;
    }


/*ログイン*/

.login {
    max-width: 800px;
    height: 470px;
    margin: auto;
    background: #fcfcfc;
    border: 1px solid #b3b1b2;
    margin-bottom: -16px;
}

.login_tite {
    max-width: 700px;
    height: 50px;
    margin: 10px auto;
    background: #f6f6f6 url(/webopac_i_ja/image/default/com/bg_title01.png) left bottom repeat-x;
    border-radius: 10px;
    border: 1px solid #ccc;
}

    .login_tite h6 {
        font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        margin-top: 15px;
        margin-left: 25px;
        font-size: 20px;
    }

.login p {
    font-size: 12.8px;
    margin-left: 50px;
}

.login_form {
    max-width: 400px;
    margin: 20px 0 0 100px;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: row;
}

    .form-group label {
        width: 150px;
    }

    .form-group input {
        max-width: 150px;
        height: 20px;
        margin-right: 0px;
    }

.border_div {
    width: 600px;
    height: 1px;
    margin: 30px auto;
    border: 1px solid #cccc;
}

.button_div {
    margin-left: 200px;
    margin-top: -5px;
}

.login_form .btn {
    width: 80px;
    height: 30px;
    background: #a33659;
    border: 1px solid #d6ced2;
    padding-top: 2px;
}

    .login_form .btn:hover {
        background: #9e7373;
    }

.copyright {
    height: 30px;
    margin-top: 53px;
    background: #51ab3f;
    border: 0.2px solid #cccc;
    padding-top: 2px;
}

.login p {
    font-size: 12.8px;
    margin-left: 50px;
    margin-bottom: -2px;
}


/*アカウント*/
.account {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #cccc;
    padding-top: 30px;
    padding-left: 20px;
    height: auto;
    margin-bottom: -16px;
}

    .account h5 {
        font-size: 32px;
    }

.account_title_1 p {
    margin-top: 15px;
    font-size: 15px;
}

.account_title_1, .account_body {
    display: flex;
    flex-direction: column;
}

    .account_title_1 div {
        width: 700px;
        margin: 20px auto;
        border: 0.5px solid #cccc;
    }

.account_title_2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

    .account_title_2 h5 {
        font-size: 25px;
    }

    .account_title_2 a {
        font-size: 12px;
        width: 168px;
        height: 32px;
        border-radius: 10px;
        border: 1px solid #cccc;
        margin-left: 400px;
        margin-top: 10px;
        padding-left: 40px;
        padding-top: 6px;
    }

        .account_title_2 a:hover, .back_btn:hover {
            background: #333;
            color: #fff;
        }

.account_body {
    margin-left: 10px;
}

.back_btn {
    font-size: 15px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #0e0303;
    margin-left: 250px;
    margin-top: 10px;
    padding-top: 7px;
    padding-left: 86px;
    margin-bottom: 20px;
    color: #333;
    text-decoration: none;
}
/*パスワード変更*/
.password_update_form {
    display: flex;
    width: 600px;
}

.password {
    max-width: 800px;
    height: 480px;
    margin: auto;
    background: #fcfcfc;
    border: 1px solid #b3b1b2;
    margin-bottom: -16px;
}

.update_tite {
    max-width: 700px;
    height: 50px;
    margin: 10px auto;
    background: #f6f6f6 url(/webopac_i_ja/image/default/com/bg_title01.png) left bottom repeat-x;
    border-radius: 10px;
    border: 1px solid #ccc;
}

    .update_tite h6 {
        font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        margin-top: 15px;
        margin-left: 25px;
        font-size: 20px;
    }

.password p {
    font-size: 12.8px;
    margin-left: 50px;
}

.pass_update_form {
    max-width: 400px;
    margin: 20px 0 0 100px;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: row;
}

    .form-group label {
        width: 150px;
    }

    .form-group input {
        max-width: 150px;
        height: 20px;
        margin-right: 0px;
    }

.border_div {
    width: 600px;
    height: 1px;
    margin: 30px auto;
    border: 1px solid #cccc;
}

.button_div {
    margin-left: 200px;
    margin-top: -5px;
}

.pass_update_form .btn {
    width: 80px;
    height: 30px;
    background: #a33659;
    border: 1px solid #d6ced2;
    padding-top: 2px;
}

    .pass_update_form .btn:hover {
        background: #9e7373;
    }

.copyright {
    height: 30px;
    margin-top: 53px;
    background: #51ab3f;
    border: 0.2px solid #cccc;
    padding-top: 2px;
}

.password p {
    font-size: 12.8px;
    margin-left: 50px;
    margin-bottom: -2px;
}
/*完了画面*/
.success {
    max-width: 800px;
    height: 470px;
    margin: auto;
    background: #fcfcfc;
    border: 1px solid #b3b1b2;
    margin-bottom: -16px;
}

.success_tite {
    max-width: 700px;
    height: 50px;
    margin: 10px auto;
    background: #f6f6f6 url(/webopac_i_ja/image/default/com/bg_title01.png) left bottom repeat-x;
    border-radius: 10px;
    border: 1px solid #ccc;
}

    .success_tite h6 {
        font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        margin-top: 15px;
        margin-left: 25px;
        font-size: 20px;
    }

.success p {
    font-size: 12.8px;
    margin-left: 90px;
}

.success .copyright {
    height: 30px;
    margin-top: 80px;
    background: #51ab3f;
    border: 0.2px solid #cccc;
    padding-top: 2px;
}

.success_title_last {
    padding-top: 50px;
}

.success_mes {
    margin-top: 40px;
}

.success_bor {
    margin-top: 70px;
}

.success a {
    font-size: 12px;
    width: 168px;
    height: 32px;
    border-radius: 10px;
    border: 1px solid #cccc;
    margin-left: 310px;
    margin-top: 37px;
    padding-left: 55px;
    padding-top: 6px;
}

    .success a:hover {
        background: #333;
        color: #fff;
    }
/*アカウント情報変更*/
.account_update {
    height: 1000px;
}

    .account_update input {
        width: 500px;
    }

.update_form div {
    margin-top: 20px;
}

    .update_form div label {
        margin-bottom: 10px;
    }

.update_btn {
    display: flex;
}

    .update_btn .btn {
        width: 120px;
    }

    .update_btn .submit_btn {
        border-radius: 10px;
        border: 1px solid #ccc;
        width: 120px;
        height: 50px;
    }

.update_btn2 {
    text-decoration: none;
    padding-top: 12px;
    padding-left: 20px;
    color: #333;
    margin-top: 30px;
    margin-left: 250px;
}

.update_btn1 {
    background-color: #fff;
    margin-top: 30px;
}

    .update_btn1:hover, .update_btn2:hover {
        background-color: #333;
        color: #fff;
        cursor: pointer;
    }

.back_top_btn {
    text-decoration: none;
    padding-top: 12px;
    padding-left: 20px;
    color: #333;
}

/*Book*/
div .book {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    position: relative;
    background: #fcfcfc;
}


.book_search {
    width: 500px;
    height: 55px;
    margin: 10px auto;
    border-radius: 5px;
    background: #db9cc7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .book_search a {
        margin-left: 330px;
    }

.book_list {
    margin-top: 50px;
    max-width: 800px;
    font-size: 15px;
    background: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
}

.book_tag {
    width: 180px;
    height: 250px;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.book_bor {
    width: 120px;
    height: 1px;
    border: 0.5px solid #ccc;
    margin-left: 30px;
}

.book_tag .book_img {
    padding: 20px;
    padding-left: 50px;
}

.book_tag img {
    max-width: 100px;
    max-height: 100px;
}

.book_news {
    margin-top: 10px;
    padding-left: 15px;
}

    .book_news p {
        margin-bottom: 5px;
    }

.search_form {
    margin: auto;
}

.detail_btn {
    margin-left: 50px;
    margin-top: 15px;
}

    .detail_btn a {
        display: block;
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 70px;
        height: 25px;
        padding-left: 23px;
        padding-top: 3px;
        text-decoration: none;
        color: #333;
    }

.detail_btn_a:hover {
    background: #333;
    cursor: pointer;
    color: #fff;
}

.book_tag:hover {
    background: #f4f5cc;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .pagination a {
        margin: 0 5px;
        padding: 5px 10px;
        text-decoration: none;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
        /*選択されているときのカラー*/
        .pagination a.active {
            background-color: #605555;
            color: white;
            border-color: #ccc;
        }

        .pagination a:hover {
            background-color: #b1a0a0;
            color: #333;
        }

.search_button {
    border-radius: 10px;
    background: #d663b1;
    color: aliceblue;
    border: none;
    width: 50px;
}

.search_key {
    border-radius: 10px;
    border: none;
    width: 300px;
}
/*本詳細*/
.book_detail {
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 750px;
    margin-bottom: -15px;
}

.book_detail_title {
    margin-top: 10px;
    margin-left: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 40px;
    text-align: left;
    padding-left: 20px;
    width: 750px;
}

    .book_detail_title h6 {
        padding: 10px;
    }

.detail_body_book {
    width: 750px;
    margin-top: 20px;
    margin-left: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 320px;
    display: flex;
    flex-direction: row;
}

.detail_book_img {
    width: 250px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .detail_book_img img {
        margin-top: 20px;
        max-width: 200px;
        max-height: 250px;
        border-radius: 10px;
    }

.detail_bor {
    width: 1px;
    border: 0.5px solid #ccc;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
}

.detail_news {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    text-align: left;
}

.detail_yoyaku {
    margin-left: 200px;
    margin-top: 20px;
    text-decoration: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
    color: #000;
    font-size: 15px;
    padding-top: 3px;
    padding-left: 22px;
    background-color: #6ea064;
}

    .detail_yoyaku:hover {
        cursor: pointer;
        background-color: #46ef24;
        color: #fff;
    }

.stock_status1 {
    color: #51ab3f;
}

.stock_status2 {
    color: #fb0b0b;
}

.detail_body_stock {
    width: 750px;
    height: 210px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 25px;
}

    .detail_body_stock table {
        width: 750px;
    }
.stock_news {
    margin-top: 100px;
    margin-bottom: 80px;
}
.detail_footer a {
    margin-left: 360px;
    margin-top: 20px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
    color: #000;
    font-size: 15px;
    padding-top: 7px;
    padding-left: 4px;
    background-color: #fff;
}
.detail_footer_btn:hover {
    color: #fff;
    background: #333;
    cursor: pointer;
}

/*予約*/
.yoyaku_detail {
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 750px;
    margin-bottom: -15px;
}

.yoyaku_detail_title {
    margin-top: 10px;
    margin-left: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 40px;
    text-align: left;
    padding-left: 20px;
    width: 750px;
}

    .yoyaku_detail_title h6 {
        padding: 10px;
    }

.yoyaku_body_book {
    width: 750px;
    margin-top: 20px;
    margin-left: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 320px;
    display: flex;
    flex-direction: row;
}

.yoyaku_book_img {
    width: 250px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .yoyaku_book_img img {
        margin-top: 20px;
        max-width: 200px;
        max-height: 250px;
        border-radius: 10px;
    }

.yoyaku_bor {
    width: 1px;
    border: 0.5px solid #ccc;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
}

.yoyaku_news {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    text-align: left;
}

.userID{

}
.title{
    margin-top:65px;
}
.libraty{
    margin-top:-178px;
    margin-left:166px;
    width:195px;
    height:64px;
}
.returntime {
    margin-top: 50px;
    margin-left: 166px;
    width: 195px;
}
.yoyaku_btn {
    margin-left: 260px;
    margin-top: 50px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
    color: #000;
    font-size: 15px;
    padding-top: 0px;
    padding-left: 5px;
    background-color: #6ea064;
}
    .yoyaku_btn:hover {
        cursor: pointer;
        background-color: #46ef24;
        color: #fff;
    }

.confirm_btn, .update_yoyaku {
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
    color: #000;
    font-size: 15px;
    padding-top: 6px;
    padding-left: 34px;
    background-color: #6ea064;
}
.confirm_btn {
    margin-left: 270px;
    margin-top: -40px;
    
}
.update_yoyaku {
    margin-left: 150px;
    margin-top: 50px;
   
}
    .update_yoyaku:hover, .confirm_btn:hover {
        cursor: pointer;
        background-color: #46ef24;
        color: #fff;
    }